{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
[global_config]
  title_hide_sizetext = True
  title_transmit_bg_color = "#43cc44"
  title_inactive_fg_color = "#deddda"
  title_inactive_bg_color = "#171421"
  inactive_color_offset = 0.3084745762711864
  enabled_plugins = ActivityWatch, LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, TerminatorThemes
  suppress_multiple_term_dialog = True
  title_use_system_font = False
  title_font = JetBrains Mono NL Semi-Bold  13
[keybindings]
  split_horiz = <Primary><Shift>a
  split_vert = <Primary><Shift>d
  copy = <Primary><Shift>c
  paste = <Primary><Shift>v
[profiles]
  [[default]]
    audible_bell = True
    icon_bell = False
    background_color = "#181818"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#cdd6f4"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#cdd6f4"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#45475a:#f38ba8:#a6e3a1:#f9e2af:#89b4fa:#f5c2e7:#94e2d5:#bac2de:#585b70:#f38ba8:#a6e3a1:#f9e2af:#89b4fa:#f5c2e7:#94e2d5:#a6adc8"
    use_system_font = False
    bold_is_bright = True
  [[Catppuccin_Latte]]
    audible_bell = True
    icon_bell = False
    background_color = "#eff1f5"
    cursor_shape = ibeam
    cursor_color = "#dc8a78"
    font = JetBrains Mono NL Semi-Bold 10
    foreground_color = "#4c4f69"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#5c5f77:#d20f39:#40a02b:#df8e1d:#1e66f5:#ea76cb:#179299:#acb0be:#6c6f85:#d20f39:#40a02b:#df8e1d:#1e66f5:#ea76cb:#179299:#bcc0cc"
    use_system_font = False
    bold_is_bright = True
    background_image = None
  [[Catppuccin_Frappe]]
    audible_bell = True
    icon_bell = False
    background_color = "#303446"
    cursor_shape = ibeam
    cursor_color = "#f2d5cf"
    font = JetBrains Mono NL Semi-Bold 10
    foreground_color = "#c6d0f5"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#51576d:#e78284:#a6d189:#e5c890:#8caaee:#f4b8e4:#81c8be:#b5bfe2:#626880:#e78284:#a6d189:#e5c890:#8caaee:#f4b8e4:#81c8be:#a5adce"
    use_system_font = False
    bold_is_bright = True
    background_image = None
  [[Catppuccin_Macchiato]]
    background_color = "#24273a"
    cursor_shape = ibeam
    cursor_color = "#f4dbd6"
    foreground_color = "#cad3f5"
    palette = "#494d64:#ed8796:#a6da95:#eed49f:#8aadf4:#f5bde6:#8bd5ca:#b8c0e0:#5b6078:#ed8796:#a6da95:#eed49f:#8aadf4:#f5bde6:#8bd5ca:#a5adcb"
    background_image = None
  [[Catppuccin_Mocha]]
    audible_bell = True
    icon_bell = False
    background_color = "#1e1e2e"
    cursor_shape = ibeam
    cursor_color = "#cdd6f4"
    font = JetBrains Mono NL Semi-Bold 12
    foreground_color = "#cdd6f4"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#45475a:#f38ba8:#a6e3a1:#f9e2af:#89b4fa:#f5c2e7:#94e2d5:#bac2de:#585b70:#f38ba8:#a6e3a1:#f9e2af:#89b4fa:#f5c2e7:#94e2d5:#a6adc8"
    use_system_font = False
    bold_is_bright = True
    background_image = None
  [[Atom]]
    audible_bell = True
    icon_bell = False
    background_color = "#161719"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#d0d0d0"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#c5c8c6"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#000000:#fd5ff1:#87c38a:#ffd7b1:#85befd:#b9b6fc:#85befd:#e0e0e0:#000000:#fd5ff1:#94fa36:#f5ffa8:#96cbfe:#b9b6fc:#85befd:#e0e0e0"
    use_system_font = False
    bold_is_bright = True
  [[DimmedMonokai]]
    audible_bell = True
    icon_bell = False
    background_color = "#1f1f1f"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#f83e19"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#b9bcba"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#3a3d43:#be3f48:#879a3b:#c5a635:#4f76a1:#855c8d:#578fa4:#b9bcba:#888987:#fb001f:#0f722f:#c47033:#186de3:#fb0067:#2e706d:#fdffb9"
    use_system_font = False
    bold_is_bright = True
  [[Dracula]]
    audible_bell = True
    icon_bell = False
    background_color = "#1e1f29"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#aaaaaa"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#f8f8f2"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#44475a:#ff5555:#50fa7b:#f1fa8c:#8be9fd:#bd93f9:#ff79c6:#94a3a5:#000000:#ff5555:#50fa7b:#f1fa8c:#8be9fd:#bd93f9:#ff79c6:#ffffff"
    use_system_font = False
    bold_is_bright = True
  [[Horizon]]
    audible_bell = True
    icon_bell = False
    background_color = "#1c1e26"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#e95379"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#bbbbbb"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#e9436f:#f9cbbe:#ffaf87:#27d796:#6c6f93:#fdf0ed:#fadad1:#b877db:#e95379:#fadad1:#fac29a:#09f7a0:#6c6f8a:#ffffff:#eddad1:#b88adb"
    use_system_font = False
    bold_is_bright = True
  [[Pnevma]]
    audible_bell = True
    icon_bell = False
    background_color = "#1c1c1c"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#e4c9af"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#d0d0d0"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#2f2e2d:#a36666:#90a57d:#d7af87:#7fa5bd:#c79ec4:#8adbb4:#d0d0d0:#4a4845:#d78787:#afbea2:#e4c9af:#a1bdce:#d7beda:#b1e7dd:#efefef"
    use_system_font = False
    bold_is_bright = True
  [[Snazzy]]
    audible_bell = True
    icon_bell = False
    background_color = "#242424"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#97979b"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#eff0eb"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#282a36:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    use_system_font = False
    bold_is_bright = True
  [[Wryan]]
    audible_bell = True
    icon_bell = False
    background_color = "#101010"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#9e9ecb"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#999993"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#333333:#8c4665:#287373:#7c7c99:#395573:#5e468c:#31658c:#899ca1:#3d3d3d:#bf4d80:#53a6a6:#9e9ecb:#477ab3:#7e62b3:#6096bf:#c0c0c0"
    use_system_font = False
    bold_is_bright = True
  [[Wombat]]
    audible_bell = True
    icon_bell = False
    background_color = "#171717"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#bbbbbb"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#dedacf"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#000000:#ff615a:#b1e969:#ebd99c:#5da9f6:#e86aff:#82fff7:#dedacf:#313131:#f58c80:#ddf88f:#eee5b2:#a5c7ff:#ddaaff:#b7fff9:#ffffff"
    use_system_font = False
    bold_is_bright = True
  [[Afterglow]]
    audible_bell = True
    icon_bell = False
    background_color = "#212121"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#d0d0d0"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#d0d0d0"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#151515:#ac4142:#7e8e50:#e5b567:#6c99bb:#9f4e85:#7dd6cf:#d0d0d0:#505050:#ac4142:#7e8e50:#e5b567:#6c99bb:#9f4e85:#7dd6cf:#f5f5f5"
    use_system_font = False
    bold_is_bright = True
  [[FrontEndDelight]]
    audible_bell = True
    icon_bell = False
    background_color = "#1b1c1d"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#cdcdcd"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#adadad"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#242526:#f8511b:#565747:#fa771d:#2c70b7:#f02e4f:#3ca1a6:#adadad:#5fac6d:#f74319:#74ec4c:#fdc325:#3393ca:#e75e4f:#4fbce6:#8c735b"
    use_system_font = False
    bold_is_bright = True
  [[Highway]]
    audible_bell = True
    icon_bell = False
    background_color = "#222225"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#e0d9b9"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#ededed"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#000000:#d00e18:#138034:#ffcb3e:#006bb3:#6b2775:#384564:#ededed:#5d504a:#f07e18:#b1d130:#fff120:#4fc2fd:#de0071:#5d504a:#ffffff"
    use_system_font = False
    bold_is_bright = True
  [[Japanesque]]
    audible_bell = True
    icon_bell = False
    background_color = "#1e1e1e"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#edcf4f"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#f7f6ec"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#343935:#cf3f61:#7bb75b:#e9b32a:#4c9ad4:#a57fc4:#389aad:#fafaf6:#595b59:#d18fa6:#767f2c:#78592f:#135979:#604291:#76bbca:#b2b5ae"
    use_system_font = False
    bold_is_bright = True
  [[Jellybeans]]
    audible_bell = True
    icon_bell = False
    background_color = "#121212"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#ffa560"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#dedede"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#929292:#e27373:#94b979:#ffba7b:#97bedc:#e1c0fa:#00988e:#dedede:#bdbdbd:#ffa1a1:#bddeab:#ffdca0:#b1d8f6:#fbdaff:#1ab2a8:#ffffff"
    use_system_font = False
    bold_is_bright = True
  [[JetBrains Darcula]]
    audible_bell = True
    icon_bell = False
    background_color = "#202020"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#ffffff"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#adadad"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#000000:#fa5355:#126e00:#c2c300:#4581eb:#fa54ff:#33c2c1:#adadad:#555555:#fb7172:#67ff4f:#ffff00:#6d9df1:#fb82ff:#60d3d1:#eeeeee"
    use_system_font = False
    bold_is_bright = True
  [[Hardcore]]
    audible_bell = True
    icon_bell = False
    background_color = "#121212"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#bbbbbb"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#a0a0a0"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#1b1d1e:#f92672:#a6e22e:#fd971f:#66d9ef:#9e6ffe:#5e7175:#ccccc6:#505354:#ff669d:#beed5f:#e6db74:#66d9ef:#9e6ffe:#a3babf:#f8f8f2"
    use_system_font = False
    bold_is_bright = True
  [[Hybrid]]
    audible_bell = True
    icon_bell = False
    background_color = "#161719"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#b7bcba"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#b7bcba"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#2a2e33:#b84d51:#b3bf5a:#e4b55e:#6e90b0:#a17eac:#7fbfb4:#b5b9b6:#1d1f22:#8d2e32:#798431:#e58a50:#4b6b88:#6e5079:#4d7b74:#5a626a"
    use_system_font = False
    bold_is_bright = True
  [[Molokai]]
    audible_bell = True
    icon_bell = False
    background_color = "#121212"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#bbbbbb"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#bbbbbb"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#121212:#fa2573:#98e123:#dfd460:#1080d0:#8700ff:#43a8d0:#bbbbbb:#555555:#f6669d:#b1e05f:#fff26d:#00afff:#af87ff:#51ceff:#ffffff"
    use_system_font = False
    bold_is_bright = True
  [[Monokai Soda]]
    audible_bell = True
    icon_bell = False
    background_color = "#1a1a1a"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#f6f7ec"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#c4c5b5"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#1a1a1a:#f4005f:#98e024:#fa8419:#9d65ff:#f4005f:#58d1eb:#c4c5b5:#625e4c:#f4005f:#98e024:#e0d561:#9d65ff:#f4005f:#58d1eb:#f6f6ef"
    use_system_font = False
    bold_is_bright = True
  [[Gruvbox Dark]]
    audible_bell = True
    icon_bell = False
    background_color = "#1e1e1e"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#bbbbbb"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#e6d4a3"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#161819:#f73028:#aab01e:#f7b125:#719586:#c77089:#7db669:#faefbb:#7f7061:#be0f17:#868715:#cc881a:#377375:#a04b73:#578e57:#e6d4a3"
    use_system_font = False
    bold_is_bright = True
  [[Arthur]]
    audible_bell = True
    icon_bell = False
    background_color = "#1c1c1c"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#e2bbef"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#ddeedd"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#3d352a:#cd5c5c:#86af80:#e8ae5b:#6495ed:#deb887:#b0c4de:#bbaa99:#554444:#cc5533:#88aa22:#ffa75d:#87ceeb:#996600:#b0c4de:#ddccbb"
    use_system_font = False
    bold_is_bright = True
  [[Rose Pine]]
    audible_bell = True
    icon_bell = False
    background_color = "#191724"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#9ccfd8"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#e0def4"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#26233A:#eb6f91:#9ccfd8:#f6c177:#31748f:#65618d:#c4a7e7:#d3d7cf:#26233a:#eb6f91:#9ccfd8:#f6c177:#31748f:#65618d:#c4a7e7:#eeeeec"
    use_system_font = False
    bold_is_bright = True
  [[omni]]
    audible_bell = True
    icon_bell = False
    background_color = "#191724"
    background_darkness = 0.93
    cursor_shape = ibeam
    cursor_color = "#aaaaaa"
    cursor_color_fg = False
    font = JetBrains Mono NL Semi-Bold 13
    foreground_color = "#e1e1e6"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#191622:#e96379:#67e480:#e7de79:#bc93ff:#ff79c6:#988bc7:#abb2bf:#7a7a7a:#e96379:#67e480:#e7de79:#bc93ff:#ff79c6:#988bc7:#ffffff"
    use_system_font = False
    bold_is_bright = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = omni
[plugins]
{{   end }}
{{ end }}
